<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container mt-3">
      <a class="navbar-brand" href="{% url 'home' %}"><h1>Zara</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kadın
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    {% if category.tema.slug == "kadn" %}
                    <li><a class="dropdown-item" href="{% url 'urunler' category.slug %}"><h2>{{ category.name }}</h2></a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Erkek
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              {% if category.tema.slug == "erkek" %}
              <li><a class="dropdown-item" href="{% url 'urunler' category.slug %}"><h2>{{ category.name }}</h2></a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Çocuk
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              {% if category.tema.slug == "cocuk" %}
              <li><a class="dropdown-item" href="{% url 'urunler' category.slug %}"><h2>{{ category.name }}</h2></a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Güzellik
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              {% if category.tema.slug == "guzellik" %}
              <li><a class="dropdown-item" href="{% url 'urunler' category.slug %}"><h2>{{ category.name }}</h2></a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hesap
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'sepet' %}">
                {% if request.session.sepet_urunler == 0  %}
                Sepet
                {% else %}
                Sepet - {{ request.session.sepet_urunler }}
                {% endif %}
              </a></li>
              <li><a class="dropdown-item" href="#">Siparişler</a></li> 
              <li><a class="dropdown-item" href="#">Adresler</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <form class="d-flex" method = POST action="{% url 'search_product' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Ürün Ara" aria-label="Search" name='search'>
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>