{% extends 'base.html' %}


{% block title %}
    Adres
{% endblock %}



{% block content %}


<div class="container mt-3">
<div class="col">
    <h1>Update Address</h1>
    <form method="post" action="{% url 'adres_ekle' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="adres_id" value="{{ adres_id }}">
        <input type="submit" value="Update">
    </form>
    <h2>Select Address to Update:</h2>
    <form method="get" action="{% url 'adres_ekle' %}">
        <select name="adres_id">
            {% for adres in user.adres_set.all %}
                <option value="{{ adres.id }}">{{ adres.adres_adi }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
</div>
</div>

{% endblock %} 