{% extends 'base.html' %}


{% block title %}

    Home

{% endblock %}



{% block content %}


<div class="card" style="width: 18rem;">
  {% if fotograflar.urun == urun %}
    {% for image in  fotograflar %}
      <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
    {% endfor %}
  {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ urun.name }}</h5>
      <p class="card-text">{{ urun.aciklama }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

HOŞGELDİNİZ

{% endblock %}