{% extends 'base.html' %}

{% block style %}
.card-img-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  z-index: 5
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%
}
.card-img-tiles .main-img {
  width: 67%;
  padding-right: .375rem
}

.card-img-tiles .thumblist {
  width: 33%;
  padding-left: .375rem
}

.card-img-tiles .thumblist>img {
  margin-bottom: .75rem
}

.card-img-tiles .thumblist>img:last-child {
  margin-bottom: 0
}

.mb-grid-gutter {
  margin-bottom: 30px !important;
}
    
{% endblock %}


{% block title %}

    Home

{% endblock %}



{% block content %}
{% if messages %}

<ul class="messages">
  {% for message in messages  %}
  <div class="alert alert-primary" role="alert">
    {{message}}
  </div>
  {% endfor %}
</ul>

{% endif %}
    <form method="get" action="">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="renk">Renk:</label>
          <select name="renk" id="renk" class="form-control">
            {% for renk in renkler %}
            <option value="{{ renk.id }}" {% if renk.id == selected_color %}selected{% endif %}>{{ renk.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="beden">Beden:</label>
          <select name="beden" id="beden" class="form-control">
            {% for beden in bedenler %}
            <option value="{{ beden.id }}" {% if beden.id == selected_size %}selected{% endif %}>{{ beden.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <input type="submit" value="Filtrele" class="btn btn-primary">
        </div>
      </div>
    </form>
    <div class="container pb-5 mb-sm-1" style="margin-top: 20px;">
      <div class="row">
{% for urun in urunler %}


      <div class="col-md-4 col-sm-6">
          <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="{% url 'urun_detay' urun.slug %}">
                  {% for image in  urun.get_images|slice:":3" %}
                  {% if forloop.first %}
                  <div class="main-img"><img src="{{ image.image.url }}" alt=""></div>
                  {% else %}
                  <div class="thumblist"><img src="{{ image.image.url }}" alt=""></div>
                  {% endif %}
                  {% endfor %}
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                  <h2 class="h5 mb-1">{{urun.name}}</h2>
                  <span class="d-block mb-3 font-size-xs text-muted"><span class="font-weight-semibold">{{urun.renk}}/{{urun.beden}}</span></span>
                  <span class="d-block mb-3 font-size-xs text-muted"><span class="font-weight-semibold">{{urun.fiyat}}</span></span>
                  <form action="/favorilere_ekle/{{urun.id}}" method="POST">
                    {% csrf_token %}
                      <input type="submit" value="Favorilere ekle" class="btn btn-pill btn-outline-primary btn-sm">
                </form>
                </div>  
          </div>
      </div>



{% endfor %}
</div>
</div>

{% endblock %}