{% extends 'base.html' %}


{% block title %}

    Home

{% endblock %}



{% block content %}
{% if messages %}

<ul class="messages">
  {% for message in messages  %}
  <div class="alert alert-primary" role="alert">
    {{message}}
  </div>
  {% endfor %}
</ul>

{% endif %}


<div class="card" style="width: 18rem;">
  <div class="card" style="width: 18rem;">
    {% for image in  urun.get_images|slice:":1" %}
      <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'urun_detay' urun.slug %}">
        {{urun.name}}
      </a></h5>
      <p class="card-text">{{ urun.aciklama }}</p>
      <form action="/favorilere_ekle/{{urun.id}}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <input type="submit" value="Favorilere_ekle" class="btn btn-primary">
        </div>
    </form>
      
    </div>
  </div>

  <div class="container mt-3">
    <div class="col">
        <form action="/sepete_ekle/{{urun.id}}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="miktar" class="form-label">Miktar</label>
                <input min = "0" max = "{{urun.stok}}"type="number" class="form-control" name="miktar">
            </div>
            <input type="submit" value="Sepete Ekle" class="btn btn-primary add-to-cart">
        </form>
    </div>
</div>

{% if siparis_urun.urun == urun %}
    <form method="POST" action="{% url 'yorum_ekle' urun.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Yorum Ekle" class="btn btn-primary">
    </form>
{% else %}
    <p>Bu ürünü sipariş ettikten sonra yorum yapabilirsiniz.</p>
{% endif %}

{% if yorumlar %}
{% for yorum in yorumlar %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ yorum.user.username }}</h5>
            <p class="card-text">{{ yorum.text }}</p>
            {% if yorum.image %}
                <img src="{{ yorum.image.url }}" alt="">
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endif %}

{% endblock %}