{% extends 'base.html' %}


{% block title %}

    Home

{% endblock %}



{% block content %}


{% for urun in urunler %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ urun.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ urun.name }}</h5>
      <p class="card-text">{{ urun.aciklama }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

        <h1>{{ urun.name }}</h1>

{% endfor %}

HOŞGELDİNİZ

{% endblock %}